section {
    background-color: rgb(226, 229, 217);
    
    
}

header {
    color: rgb(39, 10, 201);
}

#email {
    background-color: rgb(165, 147, 42);
}
#github {
    background-color: yellowgreen
}

#google {
    background-color: rgb(204, 94, 50);
}